/* -- FLEX LAYOUTS -- */
.flex-c {
    display: flex;
    align-items: center;
}

.flex-s {
    display: flex;
    align-items: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-sb-s {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col-sb-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}