/* -- FONTS -- */
@font-face {
	font-family: 'Noto Sans JP';
    font-weight: 400;
	src: url(../font/NotoSansJP-Regular.otf); 
}

@font-face {
	font-family: 'Noto Sans JP';
    font-weight: 500;
	src: url(../font/NotoSansJP-Medium.otf); 
}

@font-face {
	font-family: 'Noto Sans JP';
    font-weight: 700;
	src: url(../font/NotoSansJP-Bold.otf); 
}